version: '3.9'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: buy2enjoy
    ports:
      - '5432:5432'
    volumes:
      - pg:/var/lib/postgresql/data
  mongo:
    image: mongo:6
    ports:
      - '27017:27017'
    volumes:
      - mongo:/data/db
  redis:
    image: redis:7
    ports:
      - '6379:6379'
  typesense:
    image: typesense/typesense:0.25.2
    environment:
      TYPESENSE_API_KEY: devkey
      TYPESENSE_DATA_DIR: /data
    ports:
      - '8108:8108'
    volumes:
      - typesense:/data
  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio:/data
volumes:
  pg: {}
  mongo: {}
  typesense: {}
  minio: {}
